@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    display: flex;
    font-family: 'Prociono', serif;
    min-height: 100vh;
    background: #FF9DD3;
    margin: unset;
    justify-content: center;
}

nav {
  margin: 20px;
}

.menu-button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 5px 50px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
}

.menu-button:hover {
  background-color: #eee;
}

.menu-button.contato {
  background-color: #f4d4d4; 
}

.centro {
    display: flex;
    justify-content: center;
}

.divsinistramentesinistra{
    height: 500px;
    width: 100%;
    background: linear-gradient(180deg, #ffffff 0%, #F9E1EB 100%);
    margin-top: -20px;
}

.divsinistramentesinistra2{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.divsinistramentesinistra3{
    display: flex;
    align-items: top;
    justify-content: center;
}

.divpratudosinistro{
    align-items: flex-start;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.imglacocancer{
    width: 300px;
    height: auto;
    max-width: 400px;
}

.imgpessoa{
    position: absolute;
    width: 350px;
    height: 330px;
    top: -15px;
    right: 30px;
}

.divpraimagem{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}

.divjuntamaisquetudo{
    display: flex;
    flex-direction: row;
}

.divparatexto{
    display: flex;
    align-items: left;
    justify-content: top;
    flex-direction: column;
    margin-left: -70px;
}

.h1testesinistro{
    font-family: 'Poppins', sans-serif;                                       
}

.divpreenchida{
    position: relative;
    margin: 0 auto;
    background: white;
    height: 200px;
    width: 70%;
    z-index: 2;
    border-radius: 30px;
    margin-top: -20px;
}

.divpradivpreenchida{
    margin: 0 auto;
    width: 100%;
}

.configtitulo{
    font-size: 64px;
    font-family: 'Poppins', sans-serif;                                       
    font-weight: bold;
    color: #C8477E;
    line-height: 1em;
    margin-top: 50px;
}


.textosubtitulo {
    margin-top: -40px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #C8477E;
    font-weight: bold;
}

.textoinfo {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #C8477E;
    margin-top: -20px;
}
